
body {
  text-align: center;
}

h1 {
	color: red;
}

#ensemble1 {
	display: inline-block;
	padding: 15px;
	background-color: yellow;
	border: 2px solid black;
}

#ensemble2 {
	display: inline-block;
	padding: 15px;
	border: 2px solid blue;
  	font-style: italic;
}

#ensemble3 {
	display: inline-block;
	padding: 15px;
	border: 2px solid pink;
}
